# Ambientes virtuais
venv/
.env

# Temporários Python
__pycache__/
*.pyc
*.pyo
*.log
*.db

# Arquivos do Streamlit
*.png
*.pdf
*.xlsx

# Config VSCode
.vscode/

# Ignore imagens temporárias extraídas (mas manter o README dentro do diretório)
/cache_images/tmp/*
!/cache_images/tmp/README.md
